<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculate" />
                <binding name="BasicHttpBinding_ICalculate1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICalculate">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICalculate1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalculate" contract="HTTP.ICalculate"
                name="BasicHttpBinding_ICalculate" />
            <endpoint address="net.tcp://localhost:8002/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICalculate" contract="HTTP.ICalculate"
                name="NetTcpBinding_ICalculate">
                <identity>
                    <userPrincipalName value="DESKTOP-47H7F47\dell" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8001/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalculate1" contract="TCP.ICalculate"
                name="BasicHttpBinding_ICalculate1" />
            <endpoint address="net.tcp://localhost:8002/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICalculate1" contract="TCP.ICalculate"
                name="NetTcpBinding_ICalculate1">
                <identity>
                    <userPrincipalName value="DESKTOP-47H7F47\dell" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>